%input {
    all: unset;
    padding: var(--p-xs);
    background-color: var(--secondary-color);
    transition: var(--transition-primary);
    -webkit-transition: var(--transition-primary);
    -moz-transition: var(--transition-primary);
    -ms-transition: var(--transition-primary);
    -o-transition: var(--transition-primary);
    border-color: var(--primary-color);
    border-width: var(--border-width-primary);
    border-style: var(--border-style-primary);
    border-radius: var(--border-radius-primary);
    -webkit-border-radius: var(--border-radius-primary);
    -moz-border-radius: var(--border-radius-primary);
    -ms-border-radius: var(--border-radius-primary);
    -o-border-radius: var(--border-radius-primary);
}
.input-large {
    @extend %input;
    width: 340px;
    &::placeholder {
        color: var(--lightblack-color);
        text-transform: capitalize;
    }
}